---
import "../styles/global.css";
---

<footer>
    <nav>
        <a href="/">Accueil</a>
        <a href="/offres">Offres</a>
    </nav>
</footer>
<style>
    footer {
        background-color: #3e2222;
        font-family: "TASA Explorer", sans-serif;
        color: rgb(247, 240, 240);
        font-weight: 600;
    }
    h1 {
        font-size: medium;
        font-weight: 700;
    }
    h2 {
        font-size: xx-large;
    }
    p {
        font-size: small;
    }
    nav {
        padding: 1rem;
    }
    .left {
        font-size: x-large;
    }
    .right {
        color: #805757;
        font-size: small;
        opacity: 60%;
    }
    a {
        margin-right: 1rem;
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }
</style>
