---
import '../styles/global.css'
---

<nav>
    <a href="/">Accueil</a>
    <a href="/offres">Offres</a>
</nav>
<style>
    nav {
        background-color: #5d3b3b;
        padding: 1rem;
    }
    a {
        color: white;
        margin-right: 1rem;
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }
</style>