---
import "../styles/global.css";
---

<header>
    <nav>
        <a href="/">Accueil</a>
        <a href="/offres">Offres</a>
    </nav>
</header>

<style>
    header {
        background-color: #552e2e;
        font-family: "TASA Explorer", sans-serif;
        color: rgb(247, 240, 240);
        font-weight: 600;
    }
    nav {
        padding: 1rem;
        margin: 0;
    }
    a {
        margin-right: 1rem;
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }
</style>
